*{
    font-size: 50px;
    color:blue;
}

a:link{
color:green;
}

a:active{
font-size:25px;
background-color: green;
color:white;
}

input:focus{
    background-color: lightblue;
}

input:invalid{
    color:red;
}

input:valid
{
    color:green;
}

input:disabled{
    background-color: lightgrey;
}