/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin:0 auto;
}

header {
  padding: 25px;
  margin-bottom: 25px;
  color: #333;
  background: #ccc;
  font-size: 30px;
}

section {
  color: red;
  font-size: 30px;
}

#left {
  background-color: darkgray;
  float: left;
  width: 33%;
  padding: 1cm;
  color:white;
  margin-bottom: 25px;
}

#middle {
  background-color: lightgray;
  float: left;
  width: 33%;
  padding: 1cm;
  color:white;
  margin-bottom: 25px;
}

#right {
  background-color: darkgray;
  float: left;
  width: 34%;
  padding: 1cm;
  color:white;
  margin-bottom: 25px;
}

#full {
  background-color: beige;
  padding: 60px;
  position: relative;
  top:145px;
  text-align: end;
  
}

#division {
  background-color: lightcoral;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: inherit;
  margin: 0 ;
}

aside {
  border: solid green;
  width: 25%;
  background-color: white;

}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 25px;
  color: #333;
  background: #ccc;
  font-size: 30px;

}
